/*Loading*/
.loading-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70vh;
	max-height: 70vh;
	.loading {
		width: 75px;
		height: 75px;
		border-radius: 50%;
		border: 8px solid $main-color;
		animation: loading 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		border-color: $main-color transparent $main-color transparent;
	}
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
