/*Questions*/
.questions-wrapper {
	padding: 20px 0;
	margin: 25px 0;
	.questions {
		border-radius: 10px;
		border: solid 3px #e5e5e5;
		width: 100%;
		max-width: 945px;
		margin: 0 auto;
		overflow: hidden;
	}
}
